@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p> 
        A simple web application that use the <a href="https://www.thecocktaildb.com/"> CocktailDb API </a> to fetch yummy cocktail recipe.
    </p>
    <p>
        To learn more about how to use this API, <a href="https://github.com/codecampleipzig/cocktails">here</a>'s a good tutorial on GItHub.
        <br />
        Visit <a href="https://apilist.fun/">apilist.fun</a> for some more awesome and unique APIs.
    </p>
    <p>
        To learn to make your first API call in .NET Core,
        <a href="https://medium.com/bgl-tech/how-to-make-your-first-get-api-call-in-c-net-core-501134ee6e19">here</a>'s'
        a good tutorial on Medium. <br/>
        <a href="https://learn.microsoft.com/en-us/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client">Here</a>
        's another one from Microsoft (of cours more complicated !)
    </p>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="Cocktail #1">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="Coktail #2">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
